body {
  color: #777;
  background: url(../images/concrete-texture.png);
}

#logo{
  background-color: #4aaaa5;
  color: white;

}

.contents{
  background-color: #fff;
  border: 1px solid #ddd;
}

#footer{
  background-color: red;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

footer{
    font-size: 12px;
    color: #fff;
    color: #ccc;
    text-align: center;
    background: #666;
    border-top: 8px solid #4aaaa5;
    clear: both;
    font-size: 12px;
}

h1 {
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 49px;
    border-bottom: 3px solid #ddd;
}

h2 {
    padding-bottom: 20px;
    margin-bottom: 15px;
    line-height: 22px;
    border-bottom: 2px solid #eee;
  }

  h1, h2, h3 {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: 700;
    color: #4aaaa5;
}

.image-wraper {
  width: 100%;
}

.image-div {
  width: 100%;
  max-width: 50px;
}

#profile-picture{
  padding: 10px;
}

.thumbnail-wrapper{
  position: relative;
  width: 100%;
  text-align: center;
}

.banner{
    background-color: rgba(74, 170, 165, 0.9);
    position: absolute;
    z-index: 1;
    width: 100%;
    bottom: 26px;
    text-align: center;
}

h4 {
  color: white;
}

.picture{
  width: 100%;
}

.img-responsive{
  position: relative;
}

#connect{
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  color: #4aaaa5;
}

.img-fluid{
  max-width: 100%;
  height: auto;
}

.jail{
  opacity: .5;
  background-color: red;
  overflow: hidden;
}

